<html>
<head><title>IronFox</title>
    <script type='text/javascript' src='/sweet-alert.min.js'></script>
    <link href='/sweet-alert.css' rel='stylesheet' type='text/css'/>
</head>
<body style='background-color:#ffffff;'>
<script type='text/javascript' src='/iron.js'></script>
<script>
    rasBigIntParser('$rnd0$ironfox_cookie_enc_key$ironfox_cookie_enc_salt$ironfox_cookie_enc_iv$ironfox_cookie_enc_set$ironfox_cookie_enc_salt$rnd1',
        '$ironfox_cookie_nexturl');
</script>
</body>
</html>