[Unit]
Description=IronFox panel service
[Service]
User=root
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=/home/ironfox/iron/sbin
#path to executable.
#executable is a bash script which calls jar file
ExecStart=/home/ironfox/iron/sbin/runservice.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target

